{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h3>What would you like to do?<h3>
    <a href="{{ path('quote') }}">Writes random quotes</a><br>
    <a href="{{ path('api_deck') }}">See deck</a><br>
    <a href="{{ path('api_shuffle') }}">Shuffle</a><br>
    <a href="{{ path('api_draw') }}">Draw</a><br>
    <a href="{{ path('api_game') }}">Game</a><br>
    <a href="{{ path('product_show_all_api') }}">Libary of books</a><br>
    <a href="{{ path('product_by_id_api', {isbn: 9789144150789}) }}">Example book</a><br>
    
    
{% endblock %}


