{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}


{% block body %}

<h3>Dragna kort</h3>
{% if '♥' in removed %}
        <b style="color: red">{{ removed }}</b><br>
    {% elseif '♦' in removed %}
        <b style="color: red">{{ removed }}</b><br>
    {% else %}
        <b>{{ removed }}</b><br>
{% endif %}

<h3>Antal kort kvar:</h3>
<b>{{ num_cards }} st</b><br>

<h3>How many cards would you like to draw?<h3>
<a href="{{ path('draw_x_card', {num: 1}) }}">1</a><br>
<a href="{{ path('draw_x_card', {num: 2}) }}">2</a><br>
<a href="{{ path('draw_x_card', {num: 3}) }}">3</a><br>
<a href="{{ path('draw_x_card', {num: 4}) }}">4</a><br>
<a href="{{ path('draw_x_card', {num: 5}) }}">5</a>

{% endblock %}
